@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins" , "sans-serif";
  padding:0;
}

#title {
  font-size: 80px;
  margin-bottom: 20px;
  color:white;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
  padding: 100px;
}

body {
  width: 100vw;
  height: 100vh;
}

.response {
  width: 800px;
  font-size: 25px;
  background-color: black;
  padding :20px;
  border-radius: 10px;
  overflow-y: scroll;

}

#item {
  color:white;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

input {
  width: 500px;
  padding: 20px;
  height: 70px;
  margin: 40px 0;
  background: black;
  color:white;
  text-align: center;
}

#btn {
  background: linear-gradient( to right, #c22ed0, #5ffae0);
  margin-left: 10px;
  color:white;
  padding:  15px 20px;
  height: 70px;
  text-align: center;
}


input, #btn {
  font-size:30px;
  border:none;
  outline:none;
  border-radius: 10px;
}

#response::-webkit-scrollbar {
  width: 12px;               
}
#response::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 20px;       

}
#response::-webkit-scrollbar-thumb {
  background: linear-gradient(  #c22ed0, #5ffae0); 
  border-radius: 20px;       
}